.algebra {
  width: 20px;
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

.algebra.left {
  margin-right: 10px;
}

.algebra.right {
  margin-left: 10px;
}

.top .algebra {
  width: 80px;
  margin-bottom: 10px;
}

.bottom .algebra {
  width: 80px;
  margin-top: 10px;
}